* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    background: linear-gradient(135deg, #1dbbff, #1e3c72, #003288, #358cff);
    background-size: 400% 400%;
    animation: skyMove 15s ease infinite;
}

@keyframes skyMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.wrapper {
    width: 370px;
    padding: 40px;
    border-radius: 28px;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255,255,255,0.25);

    box-shadow:
        0 8px 40px rgba(0,0,0,0.25),
        inset 0 0 15px rgba(255,255,255,0.3);

    color: white;
    text-align: center;
}


.wrapper h1 {
    margin-bottom: 10px;
}

.wrapper p {
    margin-bottom: 20px;
    font-size: 14px;
    opacity: 0.9;
}


input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 14px;
    border: none;
    outline: none;

    background: rgba(255,255,255,0.25);
    color: white;
    font-size: 15px;

    backdrop-filter: blur(10px);
}

select option {
    color: black;
}


button {
    width: 100%;
    padding: 14px;
    border-radius: 18px;
    border: none;
    cursor: pointer;

    font-weight: 600;
    font-size: 15px;

    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;

    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 25px rgba(0,0,0,0.3);
}


#result {
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
}